
#about{
    height: 200px;
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
    color: var(--color-primary);
    height: auto;
    background-color: var(--color-secondary);
    z-index: 1;
}

#about h1{
  font-size: 55px;
  font-weight: 700;
  background: var(--color-primary);
  /* background: -webkit-linear-gradient(#a925da, var(--color-backdrop)); */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about__body{
  display: flex;
  justify-content: center;
  flex-direction: row; 
  align-items: center;
  padding: 0 20px;
}

.about__content{
  padding-right: auto;
  width: 45%;
}
.about__content h2{
  font-size: 50px;
  background: var(--color-primary);
  /* background: -webkit-linear-gradient(#a925da, var(--color-backdrop)); */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__content h2::first-letter{
  background: var(--color-backdrop);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



.skills-section {
  background-color: var(--color-secondary);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-top: auto;
}

.skills-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.skills-section ul {
  list-style: none;
  padding: 0;
}

.skills-section li {
  margin-bottom: 8px;
}


.about__content,
.skills-section {
  width: 100%;
  max-width: 800px; 
}

.about__content h2,
.skills-section h2 {
  font-size: 1.5rem;
}

.about__content p {
  font-size: 1rem;
}

.skills-section ul {
  padding-left: 20px; 
}

@media screen and (max-width: 768px) {
  .about__body {
    flex-direction: column; 
  }
  .about__content,
  .skills-section {
    max-width: 90%; 
  }
}