
/* project */
#project {
    
    align-items: center;
    background-color: var(--color-secondary);
    padding: 50px 0;
    text-align: center;
    margin-top: 10px;
    color: var(--color-primary);
    height: auto;
    /* position: relative; */
  }
  .project__body{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .project {
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 600px;
    width: 100%;
  }
  .project__header{
    font-size: 55px;
  }
  .project:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(255, 123, 0, .8);
  }
  
  .project h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .project p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .project ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .project li {
    margin-bottom: 5px;
  }
  

  @media screen and (max-width: 768px) {
   
    .project__body {
      flex-direction: column; 
    }

    .project{
      width: auto;
    }
    .project h3 {
      font-size: 18px;
    }
    
    .project p ,
    .project ul li {
      font-size: 12px;
    }
  }

  